.home-btn {
  background-color: #00285f;
  color: #ffffff;
  border-radius: 5px;
  width: 174px;
  height: 40px;
  border: none;
  text-transform: uppercase;
}

@media (min-width: 576px) {
  .home-btn {
    font-size: 14px;
  }
}
