.nav-container {
  font-size: 18px;
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
  align-items: center;
}

.nav-menu-container h1,
a {
  color: #00285f;
}

.nav-menu-container h1:hover,
a:hover {
  color: #00285f;
}

.nav-container h1 {
  font-size: 1.4em;
}

.nav-menu-container li {
  margin-top: 15px;
  font-size: 1em;
}

.active {
  font-weight: 700;
}

.navbar-toggler {
  text-decoration: none;
  color: transparent;
  border-color: transparent;
  padding: 0px;
}


@media(min-width: 768px) {


  #carrostop-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .nav-menu-container li {
    margin-top: 0px;
    margin-left: 20px;
    font-size: 1em;
  }
  
    
}

@media(min-width: 1280px) {


  .nav-container {
    padding-right: 150px;
    padding-left: 150px;
    display: flex;
    justify-content: space-evenly;
  }

  .nav-menu-container li {
    margin-left: 48px;
  }
  


    
}




