.car-card-container {
  width: 100%;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(216, 216, 216);
  box-shadow: none;
  padding: 15px;
  margin: 15px 0px;
}

.car-card-img {
  max-width: 220px;
  max-height: 165px;
}

.car-card-img img {
  width: 100%;
}

.car-card-content {
}

.car-card-content h2 {
  margin-top: 8px;
  text-align: center;
  color: #000000;
}

.car-card-content p {
  max-width: 264px;
  margin-top: 14px;
  text-align: start;
  color: #585858;
}

.car-card-content button {
  margin-top: 38px;
  width: 100%;
}

@media (min-width: 576px) {
  .car-card-container {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  
    .car-card-container {
        width: 100%;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(216, 216, 216);
        box-shadow: none;
        padding: 15px;
        margin: 15px 0px;
      }
      
      .car-card-img {
        max-width: 220px;
        max-height: 165px;
      }
      
      .car-card-img img {
        width: 100%;
      }
      
      
  }
  





